
.clearfix{
    overflow:auto;
}
.container{
    display:flex;
    flex-wrap: wrap;
}
/* 
.explanation{
    position:absolute;
    top:5%;
    background-color: rgba(0, 146, 186, 0.76);
    overflow: hidden;
    width:89vw;
    left:15%;
    padding-left: 2%;
    height: 70vh;
    z-index: 1;
}

.text {
    white-space: nowrap; 
    color: white;
    font-size: 3.78vw;
    font-family: sans-serif;
        text-align: center;
        top: 5%;
  } */

  /*for desktop*/
/*@media only screen and (min-width:800px){*/
    .explanation{
        position: absolute;
        right:15%;
        top:5%;
        background-color: rgba(0, 146, 186, 0.76);
        overflow: hidden;
        width:40%;
        height: 60%;
    z-index: 1;
    }
    
      .text {
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        text-align: justify;
        top: 5%;
      }
/*}*/


#satelliteMap{
    height:100%;
    /* float:left;
    /*width:75%;
    overflow:hidden; */
}
html,body{
    height:100%;
    margin:0;
    padding:0;
}
/* 
#satelliteInfo{
   background-color: #2f9fea99;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   align-content: center;
   right: 5px;
   width:24%;
   float:left;
   overflow:hidden;
} */

textarea{
    resize:none;
}
