
#satelliteMap{
    height:100%;
    /* float:left;
    /*width:75%;
    overflow:hidden; */
}
html,body{
    height:100%;
    margin:0;
    padding:0;
}
/* 
#satelliteInfo{
   background-color: #2f9fea99;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   align-content: center;
   right: 5px;
   width:24%;
   float:left;
   overflow:hidden;
} */

textarea{
    resize:none;
}
